<style>
.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #4d4d4f;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 0.5rem;
}

.mr3 {
    margin-right: 0.5rem;
}

.mb2 {
    margin-bottom: .25rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 2rem;
        padding-right: 4rem;
    }

    .mr4-l {
        margin-right: 2rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1rem;
    }
}
.svg{
	width:30px;
	height:50px;
	margin:0px 0px 0px 30px;
}

</style>
<nav class="db dt-l w-100 border-box pa3 ph5-l pink lighten-3">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="" title="Home">
    <img src="https://365psd.com/images/previews/16b/book-icon-vector-graphics-eps-58716.jpg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">

    {{#link-to "books"}}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="books">Books</a>{{/link-to}}
    {{#link-to "authors"}}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="authors">Authors</a>{{/link-to}}
    {{#unless role}}
    {{#link-to "newbook"}}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="books">Add Books</a>{{/link-to}}
    {{#link-to "newauthor"}}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="authors">Add Author</a>{{/link-to}}
    {{#link-to "updatebook"}}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="authors">Update Book</a>{{/link-to}}
    {{/unless}}
    {{#link-to "myprofile" }}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="My Profile">{{inline-svg "man-user" class="svg"}}</a>{{/link-to}}
    {{#link-to "homes"}}<a {{action "logout"}}class="link dim dark-gray f6 f5-l dib mr3 mr4-l black-text" href="" title="LogOut">{{inline-svg "logout" class="svg"}}</a>{{/link-to}}
    {{drop-down}}

  </div>
</nav>
