


.login1 {
  
	position: absolute;
	top: 40%;
	left: 32.5%;
	margin: -150px 0 0 -150px;
	width:815px;
	/* height:750px; */
}
.login1 h2,h4 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
