@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.login8 {
	position: absolute;
	top: 27.5%;
	left: 32.5%;
	margin: -100px 0 0 -100px;
	width:700px;
	height:1000px;
}
.login8 h2,h4 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
