@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.login9 {
	position: absolute;
	top: 20%;
	left: 27.5%;
	margin: -20px 0 0 -5px;
	width:700px;



}

.login9 h2,h4 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.but{
	display:grid;
}
button{
	justify-self:center;
}
