

{{notification-container position="top"}}
<div align="center" style="height:700px"><br><br><br>
<h2>Welcome</h2><br>
  <button style="width:120px;height:50px;"{{action "submit"}}type="submit" class="btn btn-primary btn-block btn-large">Visit Bookstore</button>
</div>

{{outlet}}
