<div class='body1'>
  <span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class='base'>
    <span></span>
    <div class='face'></div>
  </div>
</div>
<div class=''>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<h1 style="color:white;">Loading...</h1>
{{outlet}}
