<div class="login6">
  <h4 class="white-text f4">You need to login inorder to access this page</h4><br><br>
  <button {{action "login"}}class="btn btn-primary btn-block btn-large white-text grow">Login</button>
</div>
